{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}MediBridge{% endblock %}
    </title>


    <link
        rel="stylesheet"
        href="{% static 'css/base.css' %}"
    >
   


    {% block extra_css %}
    {% endblock %}

</head>


<body>


{% if request.resolver_match.url_name != 'login-page' and request.resolver_match.url_name != 'register-page' and request.resolver_match.url_name != 'medicine-detail-page' %}


<nav class="main-navbar">

    <a
        href="/medicines/"
        class="navbar-logo"
    >

        <span class="logo-shield">
            +
        </span>

        <span class="logo-text">

            <strong>
                MediBridge
            </strong>

            <small>
                PHARMACY
            </small>

        </span>

    </a>

    <div class="navbar-links">


       

        <a
            href="/medicines/"
            class="nav-link {% if request.resolver_match.url_name == 'medicine-list-page' %}active{% endif %}"
        >

            <span class="nav-icon">
                💊
            </span>

            <span>
                Medicines
            </span>

        </a>



        
        <a
            href="/orders/"
            class="nav-link {% if request.resolver_match.url_name == 'orders-page' %}active{% endif %}"
        >

            <span class="nav-icon">
                ▣
            </span>

            <span>
                Orders
            </span>

        </a>



       
        <a
            href="/upload-prescription/"
            class="nav-link {% if request.resolver_match.url_name == 'upload-prescription-page' %}active{% endif %}"
        >

            <span class="nav-icon">
                □
            </span>

            <span>
                Upload Prescription
            </span>

        </a>


    </div>



    
    <div class="navbar-right">


       

        <a
            href="/cart/"
            class="cart-link {% if request.resolver_match.url_name == 'cart-page' %}active{% endif %}"
            aria-label="Cart"
        >

            <span class="cart-icon">
                🛒
            </span>

            <span
                id="cartCount"
                class="cart-count"
            >
                0
            </span>

        </a>



        <!-- PROFILE -->

        <a
            href="/profile/"
            class="profile-link {% if request.resolver_match.url_name == 'profile-page' %}active{% endif %}"
        >

            <span class="profile-icon">
                ♙
            </span>

            <span>
                My Account
            </span>

            <span class="profile-arrow">
                ⌄
            </span>

        </a>


    </div>


</nav>


{% endif %}



{% block content %}
{% endblock %}


<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
{% block extra_js %}
{% endblock %}


</body>

</html>