{% extends "base.html" %}
{% load static %}

{% block title %}
Register | MediBridge
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

<main class="register-page">

    <section class="register-card">

        

        <div class="register-brand">

            <h1>MediBridge</h1>

            <p>Create your account</p>

        </div>


        

        <div class="register-content">

            <p class="register-welcome">
                Get started
            </p>


            <form id="registerForm">


                
                <div class="form-group">

                    <label for="username">
                        Username
                    </label>

                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Choose a username"
                        autocomplete="username"
                        required
                    >

                </div>


                

                <div class="form-group">

                    <label for="email">
                        Email
                    </label>

                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        autocomplete="email"
                        required
                    >

                </div>


                

                <div class="form-group">

                    <label for="phone_number">
                        Phone number
                    </label>

                    <input
                        type="tel"
                        id="phone_number"
                        name="phone_number"
                        placeholder="Enter your phone number"
                        autocomplete="tel"
                    >

                </div>


                

                <div class="form-group">

                    <label for="password">
                        Password
                    </label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Create a password"
                        autocomplete="new-password"
                        required
                    >

                </div>


                

                <div class="form-group">

                    <label for="confirm_password">
                        Confirm password
                    </label>

                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        placeholder="Enter your password again"
                        autocomplete="new-password"
                        required
                    >

                </div>


                

                <div
                    id="registerMessage"
                    class="register-message"
                ></div>


               

                <button
                    type="submit"
                    id="registerButton"
                >
                    Create account
                </button>

            </form>


            <!-- Login link -->

            <p class="login-link">

                Already have an account?

                <a href="/login/">
                    Login
                </a>

            </p>

        </div>

    </section>

</main>

{% endblock %}


{% block extra_js %}

<script src="{% static 'js/api.js' %}"></script>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}